@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: var(--light-grey);
    width : 100%;
}

li {
    list-style: none;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

a {
    text-decoration: none;
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

#app {
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    font-weight: 600;
    isolation: isolate;
    height: 100%;
}
:root {
    --light-grey: #fafafa;
    --grey: #e0e0e0;
    --dark-grey: #bdbdbd;
    --darker-grey: hsl(0, 0%, 62%);
    --darkest-grey: hsl(0, 0%, 20%);
    --primary: #3f51b5;
    --light-primary: #7986cb;
    --lighter-primary: #b3e5fc;
    --darker-primary: #303f9f;
    --bg-main: #f0fafe;
}
