@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Source+Code+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: var(--light-grey);
    width: 100%;
}

ul {
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
li {
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

#app {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    font-weight: 800;
    isolation: isolate;
    height: 100%;
}
:root {
    --light-grey: #fafafa;
    --grey: #e0e0e0;
    --dark-grey: #bdbdbd;
    --darker-grey: hsl(0, 0%, 62%);
    --darkest-grey: hsl(0, 0%, 20%);
    --primary: #3f51b5;
    --light-primary: #7986cb;
    --lighter-primary: #b3e5fc;
    --darker-primary: #303f9f;
    --bg-main: #f0fafe;
    // animation
    --animation-duration: .5s;
    --animation-timing-curve: ease-in-out;
}
